<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="5">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<table border="1" width="100%">
    <tr>
        <th>Temperatura (°C)</th>
        <th>Vlaga (%)</th>
        <th>Vrijeme</th>
    </tr>

    {% for row in sensor_history %}
    <tr
        {% if row.temperature > thresholds.temp_high %}
            class="temp-high"
        {% elif row.temperature < thresholds.temp_low %}
            class="temp-low"
        {% endif %}
    >
        <td>{{ row.temperature }}</td>
        <td>{{ row.humidity }}</td>
        <td>{{ row.created_at }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>